*{
    margin: 0;
    padding:0;
    
}
body{
    text-align: center;
}
.buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 100px;
    padding-top: 10px ;
    /*justify-content: space-evenly;*/
}
.btn{
    margin: 0 30px;
    padding: 20px 20px;
    font-size: 20px;
    color:black;
    background-color:lightgoldenrodyellow ;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 30px;  
 }

.count{
    margin: 30px;
    max-width: 5x;
    border: 2px solid white;
    font-size: 15px;
}
#msg{
   font-size: 20px;
}
#reset{
    margin: 35px;
    padding:10px 10px;
    border: 3px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.selected{
    border-color: rgb(239, 216, 157);
    background-color: rgb(253, 230, 183);
    transform: scale(1.5);
    transition: all 0.2s ease;
    box-shadow: 0px 4px 2px rgba(0,0,0,0.1);
}
