*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f4d2;
}
h1{
    text-align: center;
    margin: 10px;
    color:#f19c79 ;
}
#textarea{
    margin: 10px 350px;
    justify-content: center;
    border:1px solid #f6f4d2
    ;
    /*box-shadow: 0px 4px 5px rgba(111, 105, 105,0.5);*/
    box-shadow: 2px 2px 4px rgba(238, 109, 11, 0.5);
    border-radius:50px;
    padding: 20px;
}
textarea::placeholder{
    color: #f19c79;
}
.text{
    /*border: 2px solid black;*/
    padding: 20px 0px;
    max-width: 1000px;
   margin: 0px 350px;

}
.box{
    border:2px solid #f19c79  ;
    box-shadow:0px 4px 5px rgba(238, 109, 11, 0.5); 
    border-radius: 10px;
    max-width:900px;
    margin: 20px 0px;
    padding: 60px 10px;
    vertical-align:top;
    text-align: left;
}
.buttons{
    display: flex;
  /*  border: 2px solid black;*/
    max-width:700px;
    margin: 20px 350px;
    justify-content: space-evenly;
    
}
.btn{
    font-size: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    border:3px solid #f19c79 ;
    box-shadow: 2px 2px 4px rgba(238, 109, 11, 0.5);
    color:#f19c79 ;
}
.count{
    text-align: center;
    justify-content: center;
}
.counts{
    color: #a44a3f;
    font-size: 30px;
}
