*{
    margin: 0;
    padding: 0;
}
body{
    cursor: pointer;
}
h1{
    text-align: center;
    border: 2px solid black;
}
.ele{
    font-size: 20px;
}
/*.list{
    border: 2px solid black;
}*/
#todo-list{
     margin: 0px 20px;
}
.Completion_Counter{
   /* border: 2px solid black;*/
    margin-top: 20px;
}
.progressArea{
    /*border: 2px solid black;*/
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#progress{
    border: 2px solid green;
    height: 30px;
    width: 0%;
    background-color: green;
    border-radius: 20px;
}
#progress-bar-container{
   background-color: gray;
   border-radius: 20px;
}
#buttons{
   /* border: 2px solid black;*/
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.btn{
    font-size: 20px;
    margin:0px 20px ;
}
.completed{
    color: gray;
    text-decoration: line-through;
    user-select: none;
    cursor: pointer;
}