*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin: 10px;
    color: darkblue;  
}
#totalClicks{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}
#boxes{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.box{
    width:200px;
    height: 200px;
    /*background-color:red;*/
    border: 2px solid black;
}

.red{
    background-color: red;
    border: 2px solid red;
}
.blue{
    background-color:blue;
    border: 2px solid blue;
}
.green{
    background-color: green;
    border: 2px solid green;
}
.clicks{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 20px;
}
#reset{
    margin:50px 10px;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 5px 5px;
    border-radius: 5px;
}
