/*Gobal styling*/
*{
   margin: 0px;
   padding: 0px;
}


h1{
    text-align: center;
    margin: 30px;
}
#leader{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
.btn{
    font-size: 20px;
    padding: 50px;
    border-radius: 10px;
}
.buttons{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 90px;
    margin-top: 70px;
    margin-bottom: 130px;
}
.msg{
    margin-top: 50px;
    font-size: 20px;
}
#reset{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 660px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
}
#red{
    border:2px solid red;
    background-color: red;
}
#blue{
    border:2px solid blue;
    background-color: blue;
}
#green{
    border:2px solid green;
    background-color: green;
}
#yellow{
    border:2px solid yellow;
    background-color: yellow;
}
.winner{
    transform: scale(1.2); /* Makes the button bigger */
    box-shadow: 0 4px 15px gold; /* Adds a glow */
    border: 2px solid gold;
    font-weight: bold;

}