*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
   font-family:Arial, Helvetica, sans-serif;
    margin-top: 100px;
    justify-content: center;
    background-color:rgb(223, 224, 224);
}
#box{
    background-color: white;
    max-width: 500px;
    margin-left: 430px;
    padding: 20px 20px;
    box-shadow: 0px 4px 10px rgb(107, 104, 109);
    border-radius: 5px;
}
h1{
    margin:20px;
}
#msg-select{
    padding:5px 150px;
    text-wrap: wrap;
    text-align: left;
    text-align-last:right;
    margin: 5px 10px 20px 10px;
}
.count{
    margin: 20px;
    font-weight: bold;
    font-size:20px;
}
#clear{
    padding: 5px 20px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 4px 10px rgb(3, 0, 6);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
#msg{
   font-size: 20px;
    padding: 20px 20px;
    margin:0px 80px;
}
.success{
    background-color: green;
    border: 2px solid green;
    border-radius: 5px;
    color: white;
}
.warning{
    background-color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    color: white;
}
.error{
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
}
.info{
    background-color: rgb(84, 187, 255);
    border: 2px solid rgb(84, 187, 255);
    border-radius: 5px;
    color: white;
}